@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
.login_container_main{
    width: 100%;
    height: 100vh;
    background-color: #FAFBFE;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container_main .login_container{
    max-width: calc(360px - 4rem);
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.15);
}
.login_container_main .login_container .logo_container{
    padding: 2rem 2rem 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_container_main .login_container .logo_container a{
    display: block;
    padding: 0.8rem 2rem;
    border-radius: 8px;
    background-color: #7DD0E6;
}
.login_container_main .login_container .form_container .header{
    text-align: center;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.login_container_main .login_container .form_container form .input{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.login_container_main .login_container .form_container form .input .icon{
    width: 45px;
    height: 45px;
    background-color: #FAFBFE;
    text-align: center;
    line-height: 45px;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.login_container_main .login_container .form_container form .input input{
    width: calc(100% - 2rem);
    padding: 0rem 1rem;
    border: none;
    outline: none;
}
.login_container_main .login_container .form_container form .remember{
    display: flex;
    margin-bottom: 2rem;
}
.login_container_main .login_container .form_container form .remember p{
    margin-left: 1rem;
}
.login_container_main .login_container .form_container form button{
    width: 100%;
    height: 45px;
    cursor: pointer;
    text-align: center;
    line-height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: rgb(125, 208, 230);
    box-shadow: 0px 5px 0px 0px rgba(125, 208, 230, 0.8);
    font-size: 1.5rem;
    color: white;
    margin-bottom: 3rem;
}